@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<div class="container">
     <div class="panel panel-default" style="width:20%;">
          <div class="panel-heading">
               <h1 class="panel-title">@Page.Title</h1>
          </div>
          <div class="panel-body">
               <p>Phone: 555.555.5555</p>
               <p>Email:</p>
               <p><a href="mailto:tseruzhy0@gmail.com">John Beres</a></p>
               <p><a href="mailto:marco.fatica@gmail.com">Marco Fatica</a></p>
               <p><a href="mailto:lorenzo.batarilo@gmail.com">Lorenzo Batarilo</a></p>
               <p><a href="mailto:aeobbey@gmail.com">Alex Obbey</a></p>
          </div>
     </div>
</div>