@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "";
}


<div class="container" role="main">
     <div class="jumbotron">
          <h2>CSU Capstone Project CIS/CS/IST 2015</h2>
          <p>
               To sign up for any of our outreach programs please create an account and browse the
               various camps that we offer.
          </p>
     </div>
</div>
